* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
img {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}
body {
  margin: 0;
  font-family: 'fraunces', 'Barlow', sans-serif;
  color: aliceblue;
}
.header {
  height: 538px;
  background-image: url(../assets/images/mobile/image-header.jpg);
  background-size: 375px 538px;
  padding: 32px 24px;
  display: flex;
  flex-direction: column;
}
.top-bar {
  display: flex;
  justify-content: space-between;
  /* jcsw */
  margin-bottom: 88px;
}
.title {
  margin: 0;
  margin-bottom: 52px;
  font-weight: 900;
  font-size: 40px;
  text-align: center;
}
.arrow {
  margin-bottom: 137px;
  width: 30px;
  display: flex;
  align-self: center;
  letter-spacing: 6.25px;
}
.menu {
  position: absolute;
  width: 329px;
  height: 305px;
  background-color: #fffcf8;
  color: #808397;
  font-family: 'Barlow';
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  padding-block: 39px;
  font-size: 20px;
  translate: 150%;
}
.menu_link-cta {
  background-color: #fbd600;
  color: black;
  width: 140px;
  display: block;
  text-align: center;
  padding-block: 16px;
  font-size: 15px;
  border-radius: 28px;
  font-family: 'fraunces';
}
.menu::after {
  content: '';
  position: absolute;
  top: -24px;
  right: 0;
  width: 24px;
  height: 24px;
  background-image: linear-gradient(135deg, transparent 50%, #fff 50%);
}
.menu-show {
  translate: 0;
}
.titleText {
  font-family: 'fraunces';
  font-size: 32px;
  color: #24303e;
  text-align: center;
}
.text {
  font-family: 'Barlow';
  font-size: 18px;
  color: #808397;
  text-align: center;
  line-height: 30px;
}
.block-1 {
  padding: 64px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text-underlined {
  position: relative;
  font-family: 'fraunces';
  font-size: 15px;
  color: #24303e;
}
.underlined {
  position: absolute;
  top: 1255px;
  width: 137px;
  height: 10px;
  background-color: #fad400;
  opacity: 25%;
  border-radius: 28px;
}
.overlay {
  font-size: 28px;
  position: absolute;
  color: #24554a;
  top: 381px;
  padding: 0px 20px;
}
.info {
  font-size: 16px;
  top: 450px;
  padding: 0px 20px;
}
.image-overlay {
  position: relative;
}
.block-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.titleTestimonials {
  font-family: 'fraunces';
  font-size: 16px;
  color: #a7aaad;
  letter-spacing: 4px;
  margin-bottom: 64px;
}
.image-client {
  width: 72px;
  border-radius: 50%;
}
.text-client {
  font-family: 'barlow';
  font-size: 18px;
  color: #5b636d;
  line-height: 32px;
  text-align: center;
  margin-block: 32px;
}
.name-client {
  font-family: 'fraunces';
  font-size: 18px;
  color: #24303e;
}
.profession-client {
  font-family: 'barlow';
  font-size: 14px;
  color: #a7aaad;
}

.testimonials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 64px 24px;
  gap: 64px;
}
.image-collage {
  width: 188px;
  top: 22px;
}
.parallel-images {
  display: flex;
}
.footer {
  height: 350px;
  background-color: #90d4c6;
  padding: 64px 39px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logo {
  width: 170px;
  margin-bottom: 40px;
}
.menu-footer {
  font-family: 'barlow';
  font-size: 18px;
  color: #458d7e;
  display: flex;
  gap: 57px;
  margin-bottom: 88px;
}
.logo-redes {
  width: 20px;
  display: flex;
  gap: 28px;
}
